.jumbotron {
  color: #fff;
  background: #000;
}
/*.panel-default {
  border: 2px solid #2f79b9;
  border-color: #2f79b9;
}
.panel-default>.panel-heading {
  color: #fff;
  background: #2f79b9;
}*/
/*.btn-default {
  color: #fff;
  background: #2f79b9;
}
.btn-default:hover {
  color: #fff;
  background: #3589d1
}
.btn-default:focus, 
.btn-default:active {
  color: #fff;
  background: #266296
}*/